 @import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700|Varela+Round&display=swap")
 @import url("component/style.css");
 @import url("components/container.css");
 @import url("components/banner.css");
 @import url("components/avatar.css");
 @import url("components/button.css");
 @import url("components/card.css");


 body {
 	font-family: 'Varela Round', sans-serif;
 	font-size: 18px;
 }

 h1, h2, h3 {
 	font-family: 'Dosis', sans-serif;
 	font-weight: bold;
 }

 a {
 	text-decoration: none;

 }